<table>
  <thead>
  <tr>
    <th>Concept</th>
  </tr>
  </thead>
  <tbody>
  <% concepts_array(@concepts.ids).each do |concept| %>
      <tr>
        <td><%= concept %></td>
      </tr>
  <% end %>
  </tbody>
</table>