<nav class="top-bar" data-topbar role="navigation">
  <div class="top-bar-section">
    <ul class="left first-nav">

<%# add navigation links to this file %>
      <!--<li class="divider"></li>-->
      <li ><%= link_to 'Feeds', feeds_path %></li>
      <li ><%= link_to 'Entries', entries_path %></li>
      <li ><%= link_to 'Concepts', concepts_path %></li>
      <li ><%= link_to 'Notifications', notifications_path %></li>
    </ul>

  </div>
</nav>